@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html, body {
  height: 100%;
}

body {
  background: beige;
  font-family: Alegreya Sans, sans-serif;
}

nav {
  display: block;
  position: fixed;
  width: 900px;
  height: 900px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav.open {

}
nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
}
.discDiv {
z-index: 0;

}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: -650px;
  left: -650px;
  right: -650px;
  bottom: -650px;
  background: tomato;
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0.4s;
  opacity: 1;
}
.open .l1:hover {
  background: shade(black, 90%);
  color: black;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(black, 50%);
  color: black;
}
.open .l1.toggle {

}

.l2 {
  top: -400px;
  left: -400px;
  right: -400px;
  bottom: -400px;
  background: #ff7a39;
  transition-delay: 0.1s;
}
.open .l2 {
  transition-delay: 0.3s;

  opacity: 1;
}
.open .l2:hover {
  background: shade(black, 90%);
  color: black;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(black, 50%);
  color: black;
}
.open .l2.toggle {

}

.l3 {
  top: -200px;
  left: -200px;
  right: -200px;
  bottom: -200px;
  background: #ff912b;
  transition-delay: 0.2s;
}
.open .l3 {
  transition-delay: 0.2s;

  opacity: 1;
}
.open .l3:hover {
  background: shade(black, 90%);
  color: black;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(black, 50%);
  color: black;
}
.open .l3.toggle {

}

.l4 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ffa91c;
  transition-delay: 0.3s;
}
.open .l4 {
  transition-delay: 0.1s;
  opacity: 1;
}
.open .l4:hover {
  background: shade(black, 90%);
  color: black;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(black, 50%);
  color: black;
}
.open .l4.toggle {

}

.l5 {
  top: 170px;
  left: 170px;
  right: 170px;
  bottom: 170px;
  background: #ffc00e;
  transition-delay: 0.4s;
  z-index: 50;
}
.open .l5 {
  transition-delay: 0s;

  opacity: 1;
}
.open .l5:hover {
  background: shade(black, 90%);
  color: black;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(black, 50%);
  color: black;
}
.open .l5.toggle {

}

.toggle {
  line-height: 100px;
  padding: 0;
  background: gold;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  pointer-events: auto;
  transition-delay: 0s;
}
.open .toggle {

}
.toggle:hover {
  background: shade(black, 90%);
  color: black;
}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  transition-duration: 0s;
}
#interaction {
  position: absolute;
  Height: 100vh;
  width: 100%;
  z-index: 1000;
 

  
  
  /*
  z-index: 1000;
  width: 500px;
  height: 500px;
  top: 250px;
  right: 250px;
  */
}

#zIndexShift{
  position: absolute;
  top: 0;
  z-index: 5000;
}